#comments.comments-area
  h2.comments-title
    | thoughts on “Личное: заголовок”
  ol.comment-list
    li#comment-5.comment.byuser.comment-author-admin.bypostauthor.even.thread-even.depth-1
      article#div-comment-5.comment-body
        footer.comment-meta
          .comment-author.vcard
            b.fn
              | netskillup
            .comment-metadata
              time[datetime="2017-11-11T17:40:14+00:00"]
                |  11.11.2017 в 17:40 
        .comment-content
          p
            | nnn
